@import "../../global.scss";


.App {
    font-family: sans-serif;
    text-align: center;
  }

.autos{
    background-color: white;
    flex-direction: column;
    display: none;
    align-items: center;
    text-align: center;
    overflow: hidden;

    @include mobile{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }
    

    .unidad{
        justify-content: center;
        align-items: center;

        @include mobile{
            width: 100%;
        }
        
    }

    h1{
        color: #483e6b;
        margin-top: 20px;
        font-size: 40px;
        overflow: hidden;
        
        
        @include mobile{
            margin-top: 5px;
              font-size: 18px;
            }

    }


    h2{
        font-size: 25px;
        font-weight: 800;
        color: #483e6b;
        text-align: center;
    }

    h3{
        font-size: 20px;
        color: #6FC7DA;
        text-align: center;

        @include mobile{
            font-size: 20px;
            color: #6FC7DA;
            text-align: center;
        }
    }

    h4{
        text-align: center;
        color: #5a5a5a;

        .iconCalendario{
            height: 20px;
        }
    }

    h5{
        text-align: center;
    }

    .imgAuto{
        width: 25px;
        float: left;
        margin-right: 5px;

        @include mobile{
            width: 20px;
        }
    }

    .imgAutoGrande{
        width: 320px;
        margin-right: 5px;

        @include mobile{
            
            width: 250px;
        }
    }

    .descAuto{
        float: left;
        margin-right: 10px;
        
        @include mobile{
            font-size: 10px;
        }
    }

    .imagenUso{
        margin-left: 20px;
        width: 35px;
        float: left;
        @include mobile{
            width: 20px;
        }
    }


    .autoImagen{
        height: 100%;
        width: 220px;

        @include mobile{
            width: 200px;
        }
        
    }

    
        .vehicle-card{
            
            overflow: hidden;

            @include mobile{
                display: none;
            }
            
        
            .v-drive-offer{
                float: left;
                background-color: #6fc7da;
                border-radius: 99px;
                height: 40px;
                width: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;
                overflow: hidden;
                
            }
            .top{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
            }
            

            .bottomAutos{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                color: white;
                font-size: 12px;

                
            }
            

         }
        
         .enlace{
            background-color: #483e6b;
            margin-top: 10px;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 18px;

            @include mobile{
                padding: 10px 10px;
            }
        }
}