@import "../../global.scss";
.vacante-top {
  width: 100%;
  background: #4e396f;
  background-image: url("/assets/vacante/top.png");
  //background: #4e396f;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  @include smallTablet {
    height: 500px;
  }
  @include mobile {
    height: 450px;
  }
  @include smallMobile {
    height: 380px;
  }
  @include ultraSmallMobile {
    height: 320px;    
  }
  @include ultraSmallMobile2 {
    height: 288px;
    background-size: cover;
  }
}

#vacante {
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  background: #4e396f;
  * {
    overflow: unset;
  }
}
.vacante-container {
  max-width: 813px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  div:nth-child(1),
  div:nth-child(2) {
    position: relative;
    background: transparent;
  }
  @include ultraSmallMobile{
    margin-top: 30px;
  }

  .requisitos-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 50%);
    @include smallTablet {
      grid-template-columns: repeat(1, 100%);
      gap: 20px;
    }
    span {
      color: #fff;
    }
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      @include mobile {
        span {
          font-size: 0.9em;
        }
      }
    }
  }
}

.requisitos-exp {
  top: -38px;
  position: absolute !important;
  @include mobile {
    top: -50px;
  }
  @include mediumMobile {
    top: -40px;
  }
  @include ultraSmallMobile {
    top: -40px;
  }
  h3 {
    max-width: 300px;
    margin-right: auto;
    text-align: left;
    color: #fbcf52 !important;
    font-size: 26px;
    font-weight: 600;
    span {
      color: #4e396f;
      font-weight: bold;
    }
  }
  @include smallTablet {
    display: flex;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 0 25px;
    h3 {
      max-width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
  @include mobile {
    font-size: 20px;
  }
}

.arrow-req {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ffc339;
  transform: rotate(90deg);
}
.vacante-form {
  .input-style {
    border: 0;
    background: #4e396f;
    width: 100%;
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    background: inherit;
    border: 1px solid #000;
    border-color: #4e396f;
    box-sizing: border-box;
    padding: 17px 22px;
    color: #4e396f;
  }
  .form-item.txt-area {
    label {
      top: 33px;
      color: #4e396f;
    }
  }
  .form-item {
    position: relative;
    span {
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      color: red;
      text-transform: lowercase;
      font-weight: lighter;
      font-size: 12px;
    }
  }
  input {
    height: 45px;
  }
  textarea {
    height: 150px;
  }
  input[type="file"] {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
  form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.form-item label {
  left: 0px;
  right: auto;
  position: absolute;
  top: 50%;
  transform: translateX(22px) translateY(-50%);
  transition: all 0.3s;
  align-items: center;
  &:first-letter {
    text-transform: uppercase;
  }
}
.label-a {
  top: -5px !important;
  transform: translateX(0) translateY(-50%) !important;
  font-size: 0.7em;
}

.file {
  position: relative !important;
  left: 22px;
  display: flex;
  flex-direction: column;
  transform: translate(0, 0) !important;
  gap: 11px;
  cursor: pointer;
}
.txt label {
  top: 33px;
}
.fl {
  border: 0 !important;
  width: 100%;
  min-width: 0px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  background: inherit;
  //    border-color: #cbd5e0;
  border-radius: 10px;
  margin: 0;
  padding: 25px;
  padding-top: 0;
  box-sizing: border-box;
}

.form-title {
  width: 100%;
  display: flex;
  justify-content: center;
  h2 {
    color: #4e396f;
  }
}
.vacante-form {
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  background: #ebebeb !important;
  box-sizing: border-box;
  padding: 28px;
}

.footer {
  width: 100%;
  background-image: url("/assets/vacante/footer-line.png");
  //background: #4e396f;
  min-height: 419px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  * {
    color: #fff;
  }
  @include smallMobile{
    min-height: 299px;
  }
}
.footer-container {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 47.5% 5% 47.5%);
  align-items: center;
  @include mobile {
    grid-template-columns: repeat(1, 100%);
  }
}

.footer-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 60px;
  @include mobile {
    justify-content: center;
  }
}
.footer-arrow {
  height: 50px;
  width: 100%;
  text-align: center;
  min-height: 60px;
  display: flex;
  align-items: center;
  @include mobile {
    justify-content: center;
    img {
      width: 30px;
    }
  }
}
.footer-info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 32px;
  box-sizing: border-box;
  gap: 15px;
  min-height: 60px;
  @include mobile {
    justify-content: center;
  }
}
.footer-info-img {
  width: 35px;
  height: 35px;
  border: 3px solid #fff;
  padding: 8px;
  border-radius: 100%;
  display: flex;
}
.footer-info-txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  * {
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
}
.apply-now-btn {
  background: transparent;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
  align-items: center;
  display: flex;
  gap: 15px;
}
.requisitos-left,
.requisitos-right {
  box-sizing: border-box;
  padding: 0 25px;
}

.requisitos-left {
  ul {
    // background: url("/assets/vacante/dot.png");
    // background-size: 16px;
    // background-repeat: repeat-y;
    // background-position: right;
    background-size: contain;
    border-right: 2px dashed #fff;
  }
  @include smallTablet {
    order: 2;
    ul {
      border: 0;
    }
  }
  .requisitos-left {
    @include smallTablet {
      ul {
        border: 0;
        margin-top: 15px;
      }
    }
  }
}
.invalid {
  transition: all 0.3s;
  border-color: red !important;
  p {
    color: red !important;
  }
}

.requisitos-left {
  @include smallTablet {
    ul {
      display: none;
    }
    li:nth-child(1) {
      display: none;
    }
  }
}

@include smallTablet {
  .ana {
    display: none !important;
  }
}

.title-req {
  * {
    color: #fff !important;
  }

  h1 {
    font-weight: 100;
    font-size: 1.2em;
    @include ultraSmallMobile {
      font-weight: 100;
      font-size: 0.9em;
    }
  }
  width: 100%;
  box-sizing: border-box;
  padding: 0 41px;
  white-space: pre-line;
  text-align: center;
  margin-bottom: 30px;
}
