.home{
    height: 100vh;


    .sections{
        width: 100%;
        
        background-color: #white;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }
 
        > *{
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}

.button_float2 {
    position: fixed;
    width: 350px;
    height: 90;
    bottom: 5px;
    right: 5px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}


/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon2 {
        margin-top: 50px;
    }

    .button_float2 {
        width: 200px;
        height: 90px;
        bottom: 0px;
        right: 0px;
        font-size: 22px;
    }
}
