@import "../../global.scss";


@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}
.slideUpFadeIn{
    animation-name: slideUp;
    animation-duration: 3s;
    animation-name: slideUp;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.requisitos {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    overflow: hidden;
    transition: all 0.3s;
  }

  @include mobile {
    justify-content: space-around;
  }

  .MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
  }

  h1 {
    color: #483e6b;
    margin-top: 40px;
    font-size: 40px;
    padding: 10px;
    @include laptop {
      font-size: 35px;
    }
    @include smallLaptop {
      font-size: 25px;
    }
    @include mobile {
      font-size: 18px;
    }
    @include mediumMobile {      
      text-align: center;
    }    
  }
  
  .container {
    width: 100%;
    height: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    * {
      overflow: unset;
    }
    @include laptop {
      gap: 0;
    }
    @include mobile {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: initial;
      margin-top: 20px;
    }

    .card {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: all 1s ease;
      text-align: center;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background: #fbfbfb;     

      @include mobile {
        width: 100%;
        height: 100%;
      }

      &.featured {
        width: 333px;
        margin: 0 20px;
        padding: 15px 0;
        box-sizing: border-box;
        @include mobile {
          width: 70%;          
          margin: 8px 0;
        }
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 15px;        
        h3 {
          color: #483e6b;
          padding-bottom: 10px;
          margin: 0;
          font-size: 23px;
          
          @include smallLaptop {
            font-size: 20px;
          }
          @include mobile {
            font-size: 12px;
            color: #483e6b;
          }
        }

        .requisitosImagen {
          height: 300px;

          object-fit: cover;
          margin: 0 30px;

          @include smallMobile {
            width: 80px;
            height: 80px !important;
          }
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 66px;
        max-height: 100px;
        padding: 0 29px;
        box-sizing: border-box;
        
        .textoRequisitos {          
        }

        @include smallLaptop {
          padding: 0 12px;
        }
        @include mobile {
          width: 100%;
          height: 100%;
          align-items: start;
        }        
        p {
          margin-top: 5px;
          font-size: 14px;
          text-align: center;
          height: 100%;
          @include smallLaptop{
            font-size: 12px;
          }
          @include mobile {
            font-size: 12px;
          }
          @include mediumMobile {
            font-size: 13px;
          }
        }
      }
    }
  }

  .top-img-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    img {
      width: 130px;
      height: 130px !important;
    }
  }
  h3 {
    overflow: unset !important;
    @include laptop {
      font-size: 20px;
    }
    @include smallLaptop {
      font-size: 17px;
      max-width: 900px;
      text-align: center;
      margin: 0 10px;
    }
    @include mediumMobile {
      font-size: 14px;
      max-width: 900px;
      text-align: center;
      margin: 0 10px;
    }
  }
  .top-txt-container {
    width: 100%;    
    align-items: center;
    display: flex;
    justify-content: center;
    h3 {
      padding: 0;
      margin: 0 !important;
    }
  }
  .arrow {
    width: 100px;
    @include smallTablet{
      width: 60px;
    }
  }
  .arrow-container {
    width: 100%;
    color: #483e6b;
    img {
      width: 100%;
    }
    transition: all 0.3s;
    @include mobile{
      transform: rotate(90deg);
    }
  }
}
