@import "../../global.scss";

.requisitos {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    overflow: hidden;
  }

  @include mobile {
    justify-content: space-around;
  }

  .MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
  }

  h1 {
    color: #483e6b;
    margin-top: 40px;
    font-size: 40px;
    padding: 10px;

    @include mobile {
      font-size: 18px;
    }
  }

  .container {
    width: 100%;
    height: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    * {
      overflow: unset;
    }
    @include mobile {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: initial;
      margin-top: 10px;
    }

    .card {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: all 1s ease;
      text-align: center;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background: #fbfbfb;
      @include mobile {
        width: 100%;
        height: 100%;
      }

      &.featured {
        width: 333px;
        margin: 0 20px;
        padding: 15px 0;
        box-sizing: border-box;
        @include mobile {
          width: 90%;
          height: 130px;
          margin: 8px 0;
        }
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        //   height: 600px;

        @include mobile {
          flex-direction: row;
          justify-content: initial;
          height: 120px;
        }

        h3 {
          color: #483e6b;
          padding-bottom: 10px;
          margin: 0;
          font-size: 23px;
          @include mobile {
            font-size: 12px;
            color: #483e6b;
          }
        }

        .requisitosImagen {
          height: 300px;

          object-fit: cover;
          margin: 0 30px;

          @include mobile {
            height: 80px;
          }
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 66px;
        max-height: 100px;
        padding: 0 29px;
        box-sizing: border-box;
        .textoRequisitos {
          //  font-size: 10px;
        }

        @include mobile {
          width: 100%;
          height: 100%;
        }

        p {
          margin-top: 5px;
          font-size: 14px;
          text-align: center;
          height: 100%;

          @include mobile {
            font-size: 12px;
          }
        }
      }
    }
  }

  .top-img-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-height: 300px;

    img {
      width: 130px;
      height: 130px !important;
    }
  }
  h3 {
    overflow: unset !important;
  }
  .top-txt-container {
    width: 100%;
    //min-height: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
    h3 {
      padding: 0;
      margin: 0 !important;
    }
  }
}
