@import "../../global.scss";

.video {
  background-color: white;
  display: flex;
  height: 100vh;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }


  #video{
    position: fixed;
    z-index: 1;
    width: 100%;

    @include mobile{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }    
  }

    .wrapper {
      width: 30%;
      height: 100%;
      margin-left: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        padding-left: 0;
        align-items: center;
      }

      h1{
        font-size: 70px;
        color: transparent;
        -webkit-text-stroke: 1px black;
      }

      h2{
        font-size: 70px;
        margin-left: 20%;
      }
    
    }
  
  
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }

