@import "../../global.scss";

.impresiones {
  display: flex;
  

  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("../../img/equipo-impresora.jpg");
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  

  @include mobile{
    background-size: cover;
    background-image: url("../../img/equipo-impresora.jpg");
    z-index: 1;
    justify-content: center;
    align-items: center;
  }



    .wrapper {
      width: 80%;
      height: 100%;
      display: flex;
      padding-left: 50px;
      flex-direction: column;
      align-items: left;

      @include mobile{
        padding-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      h1 {
        font-size: 25px;
        margin: 10px 0;
        color: white;

        @include mobile{
          font-size: 40px;
        }
      }
      h2 {
        
        font-size: 25px;
        color: white;
        width: 90%;
      }
      h3 {
        font-size: 25px;

        @include mobile{
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }

