@import "../../global.scss";

.print {

  display: flex;
  justify-content: left;
  align-items: center;
  background-size: cover;
  background-image: url("./print-connect.png");
  height: 100vh;

  @include mobile{

    background-size: cover;
    background-image: url("./print-responsive.png");
    justify-content: left;
    align-items: center;

  }


    .wrapper {
      width: 30%;
      height: 100%;
      margin-left: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        width: 100%;
        padding-left: 0;
        align-items: left;
        margin-left: 5%;
      }

      h1{
        font-size: 70px;
        color: transparent;
        -webkit-text-stroke: 1px black;

        @include mobile{
          font-size: 50px;
          text-align: left;
        }
      }

      h2{
        font-size: 70px;
        margin-left: 20%;

        @include mobile{
          font-size: 50px;
          margin-left: 10%;
        }
      }

      h3{
        font-size: 20px;

        @include mobile{
          font-size: 15px;
          width: 80%;
          text-align: left;
        }
      }
    
    }
  
  
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }

