@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;
        
        .imgContainer{
            width: 650px;
            height: 650px;
            background-color: white;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile {
                align-items: flex-start;
            }

            img{
                height: 100%;

                @include mobile {
                    height: 50%;
                    margin-top: 40px;
                }
            }
        }
    }

    .right{
        flex: 0.5;
        position: relative;

        @include mobile{
            flex: 0.3;
            position: relative;
        }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                height: 60%;
                padding-left: 0;
                align-items: center;
            }

            button{
                width: 300px;
                height: 60px;
                color: white;
                background-color: #483E6B;
                border: none;
                border-radius: 10px;
                font-weight: 300;
                font-size: 30px;
                margin-top: 30px;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
            }


            h1{
                font-size: 90px;
                font-weight: 800;
                color: #483E6B;
                line-height: 1;
                overflow: hidden;

                @include mobile {
                    font-size: 25px;
                    font-weight: 800;
                }
            }
            h2{
                font-size: 35px;
                @include mobile {
                    margin: 10px;
                    font-size: 20px;
                }
            }
            h3{
                font-size: 20px;
                color: #808080;
                span{
                    font-size: inherit;
                    color: #808080;
                }

                @include mobile {
                    font-size: 15px;
                }

                .palomita{
                    height: 20px;
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink{
                100%{
                    opacity:  0;
                }
            }
        }
    }
}