@import "../../global.scss";

.c-beneficios {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;


  }
  
  .c-bg {
    width: 20px;
    background-color: $mainColor;
    position: absolute;
    
    
  }
  
  .c-wrapper {
    padding: 50px;
    display: flex;
    
  }
  
  .c-izquierdo {
    flex: 1 1;

    .c-info-item {
      display: flex;
      color: $mainColor;
      font-size: 20px;
      margin: 50px 0px;
      font-weight: 500;
      width: 70%;
      
    }
    
  }
  
  .c-derecho {
    flex: 1;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 70px;

    @include mobile{
      padding-left: 10px;
      padding: 20px;
    }

    .c-imagen {
      width: 100%;
  
      @include mobile{
        width: 100%;
      }
  
    }
    
    h3{
      font-size: 30px;
      align-items: center;
      justify-content: center;
    }

  }
  
  .c-title {
    font-size: 40px;
    overflow: hidden;
    padding: 10px;
    color: $mainColor;
    text-align: center;

    @include mobile {
        width: 100%;
    }
  }
  
  
  
  
  
  .c-desc {
    font-weight: 200;
    color: $mainColor;
    
  }

  
  .enlace {
    background-color: #483e6b;
    margin-top: 10px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 18px;
    cursor: pointer;
  }
    
    
  